<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" index="0" value="ABC" type="String"/>
        <constructor-arg name="gender" index="1" value="Female" type="String"/>
        <constructor-arg name="age" index="2" value="12" type="int"/>
    </bean>

    <bean id="pqractor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" index="0" value="PQR" type="String"/>
        <constructor-arg name="gender" index="1" value="Female" type="String"/>
        <constructor-arg name="age" index="2" value="12" type="int"/>
    </bean>

    <bean id="xyzactor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" index="0" value="XYZ" type="String"/>
        <constructor-arg name="gender" index="1" value="Female" type="String"/>
        <constructor-arg name="age" index="2" value="12" type="int"/>
    </bean>

    <bean id="firstMovie" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>

    <bean id="beanLifeCycle" class="com.stackroute.domain.BeanLifeCycleDemoBean" init-method="customInit" destroy-method="customDestroy">
    </bean>

    <bean id="beanPostProcessorLifeCycle" class="com.stackroute.domain.BeanPostProcessorDemoBean">
    </bean>

</beans>